<div class="row">
  <div *ngFor="let p of store.products" class="col-md-4">
    <div class="border bg-light rounded p-1">
      <img src="/img/{{ p.artId }}.jpg" class="img-fluid product-image" alt="{{ p.artist }}" />
      <h5>{{ p.category }} - {{ p.size }}</h5>
      <ul class="products-props">
        <li>Price: {{ p.price | currency }}</li>
        <li>Artist: {{ p.artist }}</li>
        <li>Title: {{ p.title }}</li>
        <li>{{ p.artDescription }}</li>
      </ul>
      <button id="buyButton" class="btn btn-success" (click)="store.addToOrder(p)">Buy</button>
    </div>
  </div>
</div>
